/* Authentication "badge" */
.authentication {
	position: relative;
	display: inline-block;
	padding: 0.2em 2em 0.2em 0.5em;
	background-color: #EEE;
	border-radius: 0.5em; border: 2px black;
	-webkit-box-shadow: 0 0 5px #000; -moz-box-shadow: 0 0 5px #000; box-shadow: 0 0 5px #000;
}
.authentication {
	background-repeat: no-repeat;
	background-position: left center;
}
.authentication * {
	margin-left: 32px;
}
.authentication .provider {
	font-weight: bold;
}
.authentication a {   /* The X to delete this authentication method */
	position: absolute;
	right: 0.3em;
	top: 0px;
}

/* Alternate auth providers */
.auth_provider {
	position: relative;
	display: inline-block;
	text-align: center;
}
.auth_provider * {
	display:block;
}
